<div style="padding: 13px;">
    <!-- <mat-spinner *ngIf="docs.length === 0"></mat-spinner> -->
    <mat-spinner *ngIf="false"></mat-spinner>

    <mat-card *ngFor="let doc of docs" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{doc.document_name}}</mat-card-title>
            <mat-card-subtitle>{{doc.created_at}}
            </mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-card-content>
            <p>
                {{doc.description}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </mat-card-content> -->
        <mat-card-actions>
      <button mat-button> Show details</button>
    </mat-card-actions>
    </mat-card>
</div>
<div>
    <button (click) ="firstPage()" mat-button> First</button>
    <button (click) ="previousPage()" mat-button> Previous</button>
    <button (click) ="nextPage()" mat-button> Next</button>
    <button (click) ="lastPage()" mat-button> Last</button>
</div>